body {
    font-family: 'Poppins', sans-serif;
}
.app-logo img {
    width:30px;
    height:30px
}

.partners-container {
    height:400px
    
}

.partners-text-container {
   display:flex;
   justify-content: start;
   align-items: center;
   padding: 190px 0px 0px 130px;
}
.partners-text {
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--clean);
    font-size: 50px;
    padding: 20px;
}

/* our partners image */
.partners-image-containers {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 70px;
}
.image-container {
    padding: 20px;
    
}
.partners-image-1 {
    width: 140px;
}
.partners-image-2 {
    width: 150px;
}
.partners-image-3 {
    width: 300px;
}
.partners-image-4 {
    width: 150px;
}
.partners-image-5 {
    width: 270px;
}
.partners-image-6 {
    width: 240px;
}
.partners-image-7 {
    width: 180px;
}
.partners-image-8 {
    width: 240px;
}
.partners-image-9 {
    width: 130px;
}
.partners-image-10 {
    width: 200px;
}
.partners-image-11 {
    width: 170px;
}
.partners-image-12 {
    width: 140px;
}
.partners-image-13 {
    width: 160px;
}
.partners-image-14 {
    width: 150px;
}
.partners-image-15 {
    width: 150px;
}

/* MEDIA QUERIES */

    /* XXL width:1400px */
@media screen and (max-width:1400px) {

    /* header */
    .button-collections button {
        width: 100px;
    }
    .page-header {
        z-index: 2
    }
    /* End of header */
    .partners-text-container {
        position:relative;
        bottom: 30px;
        right: 15px;   
    }
    .partners-text {
        font-size: 40px;
    }
    .partners-container {
        background-size: 100%;
        background-repeat: no-repeat;
        height: 350px;
    }
    .partners-image-containers {
        display:flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 15px;
    }
    .image-container {
        padding: 10px;
        
    }
    .partners-image-1 {
        width: 110px;
    }
    .partners-image-2 {
        width: 110px;
    }
    .partners-image-3 {
        width: 280px;
    }
    .partners-image-4 {
        width: 100px;
    }
    .partners-image-5 {
        width: 220px;
    }
    .partners-image-6 {
        width: 200px;
    }
    .partners-image-7 {
        width: 130px;
    }
    .partners-image-8 {
        width: 140px;
    }
    .partners-image-9 {
        width: 100px;
    }
    .partners-image-10 {
        width: 190px;
    }
    .partners-image-11 {
        width: 140px;
    }
    .partners-image-12 {
        width: 110px;
    }
    .partners-image-13 {
        width: 110px;
    }
    .partners-image-14 {
        width: 110px;
    }
    .partners-image-15 {
        width: 110px;
    }
    /* footer */
    .main-footer .upper .app-details ul li:first-child {
        font-size: 23px;
    }
    /*End of footer */
}

    /* XL width:1200px */
@media screen and (max-width:1200px) {
     /* Header */
    .button-collections button {
        width: 90px;
        font-size: 11px;
    }
    .page-header .header-nav a.active {
        font-size: 11px;
    }
    .brand-container h1{
        font-size: 27px;
    }
        /* End of Header */

    .partners-text-container {
        position:relative;
        bottom: 55px;
        right: 15px
        
    }
    .partners-text {
        font-size: 35px;
    }
    .partners-container {
        background-size: 100%;
        background-repeat: no-repeat;
        height: 300px
        
    }
    /* Footer */
    .main-footer .upper .app-details ul li:first-child  {
        font-size: 20px;
    }
    .main-footer .upper .app-details ul li {
        font-size: 12px;
    }
        /* End of Footer */
}

    /* large width:992px */
@media screen and (max-width:992px) {
    /* Header */
    .page-header .header-nav a {
        font-size: 11px;
        padding: 5px;
    }
    .page-header .header-nav a.active {
        font-size: 10px;
    }
    .button-collections button {
        font-size: 10px;
        width: 73px
    }
        /* End of Header */
    .partners-text-container {
        position:relative;
        bottom: 70px;
        right: 20px;
    }
    .partners-text {
        font-size: 30px;
    }
    .partners-container {
        height: 240px;
    }
    .partners-image-containers {
        object-fit: contain;
        justify-content: space-evenly;
    }
    .image-container {
        padding: 7px; 
    }
    .partners-image-1 {
        width: 100px;
    }
    .partners-image-2 {
        width: 100px;
    }
    .partners-image-3 {
        width: 220px;
    }
    .partners-image-4 {
        width: 100px;
    }
    .partners-image-5 {
        width: 250px;
    }
    .partners-image-6 {
        width: 200px;
    }
    .partners-image-7 {
        width: 140px;
    }
    .partners-image-8 {
        width: 150px;
    }
    .partners-image-9 {
        width: 130px;
    }
    .partners-image-10 {
        width: 200px;
    }
    .partners-image-11 {
        width: 170px;
    }
    .partners-image-12 {
        width: 150px;
    }
    .partners-image-13 {
        width: 150px;
    }
    .partners-image-14 {
        width: 160px;
    }
    .partners-image-15 {
        width: 140px;
    }
    /* footer */
    .app-logo img {
        width: 25px;
        height: 25px;
    }
    .brand-container h1 {
        font-size: 24px;
    }
    .main-footer .upper .app-details ul li:first-child  {
        font-size: 17px;
    }
    .main-footer .upper .app-details ul li {
        font-size: 11px;
    }
    .main-footer .upper .legal-docs li a {
        font-size: 10px;
    }
    .copyright-details {
        font-size: 10px;
    }
    /* end of footer */
}

    /* medium width: 768px */
@media screen and (max-width:768px) {
    .page-header .header-nav , .page-header .brand-container , .page-header .button-collections{
        display:none
    }
    .page-header {
        padding: 0px;
        width: 100%;
        z-index: 2;
    }
    
    /* HAMBURGER NAVBAR */
   
    .app-logo h1 {
        color: var(--clean)
    }
    .topnav .app-logo {
        display:flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 0px 10px 40px;
        z-index: 2;
        background-color: rgba(34, 34, 34, 0.800);
    }
    .navburgermenu {
        display: block;
        width: 100%;
        margin: auto;
        color: white;
        border-radius: 10px;
      }
      .topnav {
        overflow: hidden;
        background-color: transparent;
        position: relative;
      }
      .topnav #myLinks {
        display: none;
        background-color: rgba(34, 34, 34, 0.800);
        font-family: 'Poppins', sans-serif;
        padding: 20px;
        font-weight: bold
        
      }
      
      .topnav a {   
        color: var(--clean);
        padding: 10px 20px;
        text-decoration: none;
        font-size: 20px;
        display: block;
        font-weight: bold;
      }
      
      .topnav a.icon {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        padding: 17.5px 18px;
        font-size: 25px;
        display:flex;
        justify-content: flex-end;
      }
     .active {
        background-color: transparent;
        color: white;
      }
      .topnav div{
        padding: 10px;
      }
    /* END HAMBURGER NAVBAR */
    .partners-text-container {
        position:relative;
        bottom: 100px;
        right: 50px;
    }
    .partners-text {
        font-size: 20px;
    }
    .partners-container {
        height: 180px;
    }
    .partners-image-containers {
        object-fit: contain;
        justify-content: space-evenly;
        padding: 10px 10px;
    }
    .image-container {
        padding: 7px; 
    }
    .partners-image-1 {
        width: 80px;
    }
    .partners-image-2 {
        width: 70px;
    }
    .partners-image-3 {
        width: 140px;
    }
    .partners-image-4 {
        width: 90px;
    }
    .partners-image-5 {
        width: 130px;
    }
    .partners-image-6 {
        width: 130px;
    }
    .partners-image-7 {
        width: 110px;
    }
    .partners-image-8 {
        width: 100px;
    }
    .partners-image-9 {
        width: 90px;
    }
    .partners-image-10 {
        width: 150px;
    }
    .partners-image-11 {
        width: 120px;
    }
    .partners-image-12 {
        width: 120px;
    }
    .partners-image-13 {
        width: 110px;
    }
    .partners-image-14 {
        width: 110px;
    }
    .partners-image-15 {
        width: 100px;
    }
    /* Footer */
    .main-footer .upper .legal-docs {
        display:flex;
        flex-wrap:wrap;
        flex-direction: column;
    }
    /* End of footer */
}

    /* small width: 576px */
@media screen and (max-width:576px) {
    /* header */
    .topnav a.icon {
        font-size: 23px;
    }
    .app-logo h1 {
        font-size: 23px;
    }
    .topnav a {
        color: var(--clean);
        padding: 7px 25px;
        text-decoration: none;
        font-size: 16px;
        display: flex;
        font-weight: bold;
        align-content: space-around;
        justify-content: flex-start;
        align-items: baseline;
    }
    .topnav a.icon  {
        font-size: 20px;
        padding: 15px 20px;
    }
    .app-logo img {
        height: 23px;
        width: 23px
    }
    /* End of Header */
    .herobanner {
        height: 250px;
    }
    .partners-text-container {
        position:relative;
        bottom: 120px;
        right: 80px;
    }
    .partners-text {
        font-size: 18px;
    }
    .partners-container {
        height: 140px;
    }
    .partners-image-containers {
        object-fit: contain;
        justify-content: space-around;
        padding: 10px 30px;
    }
    .image-container {
        padding: 7px; 
    }
    .partners-image-1 {
        width: 50px;
    }
    .partners-image-2 {
        width: 60px;
    }
    .partners-image-3 {
        width: 100px;
    }
    .partners-image-4 {
        width: 50px;
    }
    .partners-image-5 {
        width: 90px;
    }
    .partners-image-6 {
        width: 90px;
    }
    .partners-image-7 {
        width: 70px;
    }
    .partners-image-8 {
        width: 60px;
    }
    .partners-image-9 {
        width: 50px;
    }
    .partners-image-10 {
        width: 100px;
    }
    .partners-image-11 {
        width: 80px;
    }
    .partners-image-12 {
        width: 80px;
    }
    .partners-image-13 {
        width: 70px;
    }
    .partners-image-14 {
        width: 70px;
    }
    .partners-image-15 {
        width: 80px;
    }
    /* Footer */
    .main-footer .upper .app-details ul li:first-child {
        font-size: 15px;
    }
    .main-footer .upper .app-details ul li {
        font-size: 9px;
    }
    .main-footer .upper .legal-docs {
        display:flex;
        flex-direction: column;
    } 
    /* End footer */
}
    /* xsmall width: 414 mobile iphoneXR */
@media screen and (max-width:414px) {
    /* NavBar */
    .topnav a.icon{
        font-size: 15px;
        padding: 15px;
    }
    .topnav #myLinks {
        padding: 10px;
    }
    .topnav a {
        padding: 5px 27px;
        font-size: 15px;
    }
    .btn-quaternary, .btn-secondary {
        font-size: 10px;
    }
    .app-logo h1 {
        font-size: 17px;
    }
    .app-logo img {
        height: 20px;
        width: 20px;
    }
    /* End of NavBar */
    .partners-text-container {
        position: relative;
        bottom: 133px;
        right: 100px;
    }
    .partners-text {
        font-size: 10px;
        padding: 13px;
    }
    .partners-container {
        height: 100px;
    }
    .partners-image-containers {
        object-fit: contain;
        justify-content: space-around;
        padding: 10px ;
    }
    .image-container {
        padding: 4px; 
    }
    .partners-image-1 {
        width: 40px;
    }
    .partners-image-2 {
        width: 40px;
    }
    .partners-image-3 {
        width: 90px;
    }
    .partners-image-4 {
        width: 50px;
    }
    .partners-image-5 {
        width: 60px;
    }
    .partners-image-6 {
        width: 50px;
    }
    .partners-image-7 {
        width: 60px;
    }
    .partners-image-8 {
        width: 50px;
    }
    .partners-image-9 {
        width: 50px;
    }
    .partners-image-10 {
        width: 70px;
    }
    .partners-image-11 {
        width: 70px;
    }
    .partners-image-12 {
        width: 60px;
    }
    .partners-image-13 {
        width: 50px;
    }
    .partners-image-14 {
        width: 50px;
    }
    .partners-image-15 {
        width: 50px;
    }
    /* Footer */
    .main-footer {
        margin: 5px
    }
   .main-footer .upper .app-details {
    display:flex;
    flex-direction: column;
    gap: 10px
    }
    .main-footer .upper {
        display:flex;
        flex-direction: column;
    }
    .main-footer .upper .app-details ul li {
        font-size: 10px;
    }
    .main-footer .upper .legal-docs {
        padding: 5px 0px 0px 13px
    }
    /* End of Footer */
}